.navbar_img{
	width:30px;
	height: 30px;
	border-radius: 50%;
}
.non_active{
	color: #95a5a6;
}
#myNavbar ul li a{
	color:#7f8c8d;
}
#myNavbar ul li a:hover{
	color:white;
}
#myNavbar ul li{
	position: relative;
}
.notification_box{
	width: 250%;
	height: 60vh;
	position: absolute;
	background-color: #34495e;
	color: white;
	display: ;
}
.tri {

	background-color: transparent;
    width: 0px;
    height: 0px;
    border-right: 16px solid transparent;
    border-left: 15px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 15px solid black;
    margin-top: -15px;
    margin-left: 20%;

}
.status_box{ 
    resize: none;
    width: 100%;
    border-left: 2px solid #e67e22;
    border-bottom: 2px solid #e67e22;
    border-top: 0px;
    border-right: 0px;
}
.link_btn{
    border: 0px;
    width: 18%;
    height: 30px;
    color: white;
    background: #e67e22;
    margin-left:50%;
    margin-top: 10px;
    overflow: hidden;
    font-size: 1.2vw;
    display: inline-block;
}
.image_btn{
    border: 0px;
    width: 18%;
    height: 30px;
    color: white;
    background: #e67e22;
    margin-top: 10px;
    overflow: hidden;
    font-size: 1.2vw;
    display: inline-block;
}
.status_btn{
    border: 0px;
    width: 12%;
    height: 30px;
    color: white;
    background: #e67e22;
    /*margin-left: 79%;*/
    margin-top: 10px;
    overflow: hidden;
    font-size: 1.2vw;
    display: inline-block;
}
.close_link_panel{
    display: inline-block;
    margin-left: 90%;
    cursor: pointer;
    color: rgba(192, 57, 43,1.0);
}

.link_field{
    width: 80%;
    display: inline;
    margin-left: 2%;
}
.add_more_link{
    color: rgba(52, 152, 219,1.0);
    text-align: center;
    width: 2vw;
    cursor: pointer;
}
.link_label {
    margin-left: 2%;
}
.posted_by_img{
	width:40px;
	height: 40px;
	border-radius: 50%;
}
.post{
	color:#7f8c8d;
	font-size: 1.5vw;
}
.ldc{

}
.ldc_txt{
	font-size: 1.2vw;
	cursor: pointer;
}

.ldc_img{
	width:1.9vw;
	height: 1.9vw;
	border-radius: 50%;
	cursor: pointer;
}
.liked{
	
	
	color: #3498db;
}
.unliked{

}
.disliked{
    
    
    color: #d35400;

}
.comment{

}

.fixed {
        
}

.calendar{
    z-index: 1;
    margin: 0.25em 10px 12px -4px;
    display: inline-block;
    padding-top: 10px;
    height: 28px;
    width: 28px;
    background: #ededef;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#ccc));
    background: -moz-linear-gradient(top, #ededef, #ccc);
    font: bold 13px Arial Black, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #000;
    text-shadow: #fff 0 1px 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    -moz-box-shadow: 0 2px 2px #888;
    -webkit-box-shadow: 0 2px 2px #888;
    box-shadow: 0 2px 2px #888;
	}

.calendar em{
    width: 29px;
    display: block;
    font: normal bold 11px Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: #00365a 0 -1px 0;
    background: #04599a;
    background: -webkit-gradient(linear, left top, left bottom, from(#04599a), to(#00365a));
    background: -moz-linear-gradient(top, #04599a, #00365a);
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #00365a;
	}

.calendar:before, .calendar:after{
	content:'';
	float:left;
	position:absolute;
	top:5px;	
	width:8px;
	height:8px;
	background:#111;
	z-index:1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow:0 1px 1px #fff;
	-webkit-box-shadow:0 1px 1px #fff;
	box-shadow:0 1px 1px #fff;
	}
.calendar:before{left:11px;}	
.calendar:after{right:11px;}

.calendar em:before, .calendar em:after{
	content:'';
	float:left;
	position:absolute;
	top:-5px;	
	width:4px;
	height:14px;
	background:#dadada;
	background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaa)); 
	background:-moz-linear-gradient(top,  #f1f1f1,  #aaa); 
	z-index:2;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	}
.calendar em:before{left:13px;}	
.calendar em:after{right:13px;}	
.xm-name{
    border-bottom: 3px solid red;
    height: 40px;
    line-height: 40px;
    color: white;
    background: #34495e;
    margin-top: 5px;
    font-size: 11px;

}
.semester-counter-div{
    color: white;
    
}
.semester-counter-div .txt{
    width: 100%;
    color: #34495e;
    font-size: 13px;
    text-align: center;
    border-bottom: 2px solid #7f8c8d;
    
}

.semester-counter-div .num{
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #34495e;
    border-left : 3px solid #e67e22;
    border-right : 3px solid #2ecc71;
    border-top : 3px solid #3498db;
    border-bottom : 3px solid #9b59b6;
    font-size: 1.3vw;
}

.error{
    border: 1.8px solid #d35400;
}
.no_update_msg{    
    background-color: rgba(231, 76, 60,1.0);
    color: white;
    width: 80%;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    margin-left: 10%;
    border-left: 5px solid black;
    font-size: 2vw;

}
.note{
    text-align: center;
    cursor: pointer;
    border-left: 4px solid #2c3e50;
    width: 200px;
    font-weight: bold;
}
.note_circle{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    color: white;
    background-color: #2c3e50;
    display: block;
    line-height: 100px;
}
.semester_img{
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #34495e;
}
.semester_img:hover{
    opacity: 0.5;
    transition: opacity 0.5s;
}
.semester_name{
    border-left: 3px solid #34495e;
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 3px;
}
.status_box::-webkit-input-placeholder {
    font-size: 25px;
    line-height: 2;
}
.status_box{
    font-size: 20px;
}
